EmailSenderAppSol/.idea/.idea.EmailSenderAppSol/riderModule.iml
EmailSenderAppSol/.idea/.idea.EmailSenderAppSol/.idea/contentModel.xml
EmailSenderAppSol/.idea/.idea.EmailSenderAppSol/.idea/indexLayout.xml
EmailSenderAppSol/.idea/.idea.EmailSenderAppSol/.idea/misc.xml
EmailSenderAppSol/.idea/.idea.EmailSenderAppSol/.idea/modules.xml
EmailSenderAppSol/.idea/.idea.EmailSenderAppSol/.idea/vcs.xml
EmailSenderAppSol/.idea/.idea.EmailSenderAppSol/.idea/workspace.xml
EmailSenderAppSol/EmailSenderApp/my_settings.xml
EmailSenderAppSol/EmailSenderApp/bin/Debug/BasicWebServerLib.dll
EmailSenderAppSol/EmailSenderApp/bin/Debug/BasicWebServerLib.pdb
EmailSenderAppSol/EmailSenderApp/bin/Debug/EmailSenderApp.exe
EmailSenderAppSol/EmailSenderApp/bin/Debug/EmailSenderApp.pdb
EmailSenderAppSol/EmailSenderApp/bin/Debug/LiteDB.dll
EmailSenderAppSol/EmailSenderApp/bin/Debug/LiteDB.xml
EmailSenderAppSol/EmailSenderApp/bin/Release/BasicWebServerLib.dll
EmailSenderAppSol/EmailSenderApp/bin/Release/BasicWebServerLib.pdb
EmailSenderAppSol/EmailSenderApp/bin/Release/EmailSenderApp.exe
EmailSenderAppSol/EmailSenderApp/bin/Release/EmailSenderApp.pdb
EmailSenderAppSol/EmailSenderApp/bin/Release/LiteDB.dll
EmailSenderAppSol/EmailSenderApp/bin/Release/LiteDB.xml
EmailSenderAppSol/EmailSenderApp/obj/Debug/EmailSenderApp.csproj.CopyComplete
EmailSenderAppSol/EmailSenderApp/obj/Debug/EmailSenderApp.csproj.CoreCompileInputs.cache
EmailSenderAppSol/EmailSenderApp/obj/Debug/EmailSenderApp.csproj.FileListAbsolute.txt
EmailSenderAppSol/EmailSenderApp/obj/Debug/EmailSenderApp.csprojAssemblyReference.cache
EmailSenderAppSol/EmailSenderApp/obj/Debug/EmailSenderApp.exe
EmailSenderAppSol/EmailSenderApp/obj/Debug/EmailSenderApp.pdb
EmailSenderAppSol/EmailSenderApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EmailSenderAppSol/EmailSenderApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EmailSenderAppSol/EmailSenderApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EmailSenderAppSol/EmailSenderApp/obj/Release/EmailSenderApp.csproj.CopyComplete
EmailSenderAppSol/EmailSenderApp/obj/Release/EmailSenderApp.csproj.CoreCompileInputs.cache
EmailSenderAppSol/EmailSenderApp/obj/Release/EmailSenderApp.csproj.FileListAbsolute.txt
EmailSenderAppSol/EmailSenderApp/obj/Release/EmailSenderApp.csprojAssemblyReference.cache
EmailSenderAppSol/EmailSenderApp/obj/Release/EmailSenderApp.exe
EmailSenderAppSol/EmailSenderApp/obj/Release/EmailSenderApp.pdb
EmailSenderAppSol/EmailSenderApp/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EmailSenderAppSol/EmailSenderApp/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EmailSenderAppSol/EmailSenderApp/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EmailSenderAppSol/packages/LiteDB.4.1.4/.signature.p7s
EmailSenderAppSol/packages/LiteDB.4.1.4/LiteDB.4.1.4.nupkg
EmailSenderAppSol/packages/LiteDB.4.1.4/lib/net35/LiteDB.dll
EmailSenderAppSol/packages/LiteDB.4.1.4/lib/net35/LiteDB.xml
EmailSenderAppSol/packages/LiteDB.4.1.4/lib/net40/LiteDB.dll
EmailSenderAppSol/packages/LiteDB.4.1.4/lib/net40/LiteDB.xml
EmailSenderAppSol/packages/LiteDB.4.1.4/lib/netstandard1.3/LiteDB.dll
EmailSenderAppSol/packages/LiteDB.4.1.4/lib/netstandard1.3/LiteDB.xml
EmailSenderAppSol/packages/LiteDB.4.1.4/lib/netstandard2.0/LiteDB.dll
EmailSenderAppSol/packages/LiteDB.4.1.4/lib/netstandard2.0/LiteDB.xml
